​html{
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 50px;
    padding: 0;
    font-weight: normal;
    max-width: 100%; /*bonus*/
    overflow-x: hidden; /*bonus*/
}
body{
    background-color: rgb(171, 214, 171);
}

.container{
    background-image: url("/images/mountain-image.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 50%;
    margin: 0 auto;
}

/* header start */

.header{
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    width: 500px;
    padding-top: 20px;
}
.header h1{
    text-decoration: underline solid yellowgreen;;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 3px;
}
.header h2{
 font-size: 30px;
}
/* header end */

/* registration form start */
form{
    margin: 0 auto;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    
}

label input{
    display: block;

}
input{
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    opacity: 0.4;
    width: 200px;
    color:grey;
    font-weight: bold;
    
}
input:focus {
    background-color: yellowgreen;
    color: white;
    opacity: 0.9;
  }
.submit{
    clear: both;
    text-align: center;
}
input[type=submit]{
    opacity: 1;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: yellowgreen;

}

.blockA {
    float: left;
    width: 50%;
    margin-left: 15%;
  }
  /* registration form end */

  /* login here  */
 
  p{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.5px;
  }
  a {
      text-decoration: none;
      color: yellowgreen;
      font-weight: bold;
      
  }